<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="red-wrap">
        <div class="public-header">
            <h3 class="title">
                我的订单
            </h3>
        </div>
       <div>
           <ul>
               <li>
                   <div>编号：</div>
                   <div>预计返利：</div>
                   <div>价格：</div>
                   <div>状态：</div>
               </li>
               <li>
                   <div>编号：</div>
                   <div>预计返利：</div>
                   <div>价格：</div>
                   <div>状态：</div>
               </li>
               <li>
                   <div>编号：</div>
                   <div>预计返利：</div>
                   <div>价格：</div>
                   <div>状态：</div>
               </li>
           </ul>
       </div>
    </div>
</div>