<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="mingxi-wrap">
        <div class="public-header">
            <h3 class="title">
                订单
            </h3>
        </div>
        <div class="all-item">
            <div class="item-box clearfix" ng-repeat="order in userOrders">
                <div class="txt-box">
                    <p class="name">{{order.ItemName}}</p>
                    <p class="time">{{order.Code}}</p>
                    <span class="monery">预计返利：+{{order.BackPrice}} 元</span>
                </div>
            </div>
        </div>
    </div>
</div>
