<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="mingxi-wrap">
        <div class="public-header">
            <h3 class="title">
                订单
            </h3>
        </div>
        <div class="all-item">
            <div class="item-box clearfix">
                <div class="txt-box">
                    <p class="name">标题：夏日小短裙短裙</p>
                    <p class="time">编号：214343534535</p>
                    <span class="monery">预计返利：+10 元</span>
                </div>
            </div>
        </div>
    </div>
</div>
