<div class="public-footer">
    <div class="item-box home active">
        <a ui-sref="home">
            <div class="icon-box">
                <img src="images/icon_27.png">
                <img src="images/icon_27_1.png" class="active">
            </div>
            <p>首页</p>
        </a>
    </div>
    <div class="item-box recommend">
        <a ui-sref="recommend">
            <div class="icon-box">
                <img src="images/icon_28.png">
                <img src="images/icon_28_1.png" class="active">
            </div>
            <p>推荐</p>
        </a>
    </div>
    <div class="item-box">
        <a ui-sref="joinUs">
            <span><img src="images/icon_31.png"></span>
        </a>
    </div>
    <div class="item-box rebate">
        <a  ui-sref="rebate">
            <div class="icon-box">
                <img src="images/icon_29.png">
                <img src="images/icon_29_1.png" class="active">
            </div>
            <p>巨返利</p>
        </a>
    </div>
    <div class="item-box my">
        <a  ui-sref="my">
            <div class="icon-box">
                <img src="images/icon_30.png">
                <img src="images/icon_30_1.png" class="active">
            </div>
            <p>我的</p>
        </a>
    </div>
</div>