<div class="footer-box clearfix">
    <div class="item-box map needsclick" ui-sref="map">
        <img src="images/icon_8.png">
        <img src="images/icon_9.png" class="active-img">
        <p>智惠购</p>
    </div>
    <div class="item-box contacts needsclick" ui-sref="contacts">
        <img src="images/icon_10.png">
        <img src="images/icon_11.png" class="active-img">
        <p>订单</p>
    </div>
    <div class="item-box needsclick" ui-sref="filtration">
        <img src="images/add.png" class="add">
    </div>
    <div class="item-box message needsclick" id="footer-msg" ui-sref="withdrawApply">
        <img src="images/icon_12.png">
        <img src="images/icon_13.png" class="active-img">
        <p>提现</p>
    </div>
    <div class="item-box my needsclick" ui-sref="my">
        <img src="images/icon_14.png">
        <img src="images/icon_15.png" class="active-img">
        <p>我的</p>
    </div>
</div>