<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">


<div class="guide-wrap">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-box" style="background-image: url(images/img_1.jpg)">
                </div>

            </div>
            <div class="swiper-slide">
                <div class="img-box" style="background-image: url(images/img_2.jpg)">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-box" style="background-image: url(images/img_3.jpg)">
                </div>
                <a href="" ng-click="goLogin()" class="enter-box"></a>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
