
<style>
    .anchorBL {
        display: none;
    }
</style>

<div class="bgefeff4">
    <div class="red-wrap">
        <div class="public-header">
            <h3 class="title">
                首页
            </h3>
        </div>
        <div class="pulic-search-box">
            <div class="input-box">
                <input type="text"  ng-model="QueryText" name="" />
                <i ng-click="Query()"><img src="images/search.png"></i>
            </div>
        </div>
        <div>
            搜索结果：
            <ul>

                <li ng-repeat="item in QueryResult.tbk_dg_material_optional_response.result_list.map_data">
                    <div>标题：{{item.title}}</div>
                    <div>店铺：{{item.shop_title}}</div>
                    <div>预计返利：{{((item.zk_final_price - item.coupon_amount)*item.commission_rate*0.0001)| number:2}}</div>
                    <div>售价：{{item.reserve_price}}</div>
                    <div>折扣价：{{item.zk_final_price}}</div>
                    <div>优惠券：{{item.coupon_amount}}元</div>
                    <div>券后价：{{(item.zk_final_price - item.coupon_amount)| number:2}}</div>
                    <div>销售量：{{item.tk_total_sales}}</div>
                    <div>商品ID：{{item.item_id}}</div>
                    <img src="{{item.pict_url}}" /><br />
                    <a href="https://t.asczwa.com/taobao?backurl={{item.coupon_share_url}}" ng-click="ClickLog(item.item_id,'https://t.asczwa.com/taobao?backurl={{item.coupon_share_url}}',item.pict_url)">购买</a>
                </li>
            </ul>
        </div>
    </div>
</div>
