<style type="text/css">

    html {
        background: #fff !important;
    }
    body {
        padding-bottom: 0;
    }
</style>
<div class="login-wrap">
    <div class="centent-box">
        <div class="session_1">
            <div class="logo">
                <img src="images/img_4.jpg">
            </div>
        </div>
        <div class="session_2" ng-click="login()">
            <span class="login-btn">
                <img src="images/icon_3.png">微信登录
            </span>
        </div>
    </div>
</div>