<style type="text/css">

    html {
        background: #fff !important;
    }

    body {
        padding-bottom: 0;
    }
</style>
<div class="login-wrap">
    <div class="session_1">
        <div class="logo">
            <img src="images/img_4.jpg">
        </div>
        <div class="close-btn">
            <img src="images/icon_1.png">
        </div>
        <div class="txt-box">
            <img src="images/icon_2.png">
        </div>
    </div>
    <div class="session_2" ng-click="login()">
        <span class="login-btn">
            <img src="images/icon_3.png">微信登录
        </span>
    </div>
</div>