<style type="text/css">

    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        html:before {
            background: #f44c4f;
        }
    }

    @media only screen and (device-width: 414px) and (device-height:896px) and (-webkit-device-pixel-ratio:3) {
        html:before {
            background: #f44c4f;
        }
    }

    @media only screen and (device-width: 414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2) {
        html:before {
            background: #f44c4f;
        }
    }
</style>

<div class="my-wrap">
    <div class="session_1">
        <div class="set">
            <a ng-click="toSettingPage()"><img src="images/icon_34.png"></a>
        </div>
        <div class="user-box">
            <div class="user-img" style="background-image: url({{userInfo.AvatarUrl}})"></div>
            <div class="info-box">
                <div class="txt_1" ng-if="userInfo.Type == 0">
                    <span>{{userInfo.Name}}</span><i><img src="images/common.png"></i>
                </div>
                <div class="txt_1" ng-if="userInfo.Type == 1">
                    <span>{{userInfo.Name}}</span><i><img src="images/sepcial.png"></i>
                </div>
                <div class="txt_1" ng-if="userInfo.Type == 2">
                    <span>{{userInfo.Name}}</span><i><img src="images/teamMember.png"></i>
                </div>
                <div class="txt_2">
                    <span>邀请码： {{userInfo.UserId}}</span><em ng-click="CopyYQM()">复制</em><em ng-if="!userInfo.PId" ng-click="AddParent()">填写邀请码</em>
                </div>
            </div>
        </div>
        <div class="txt_3">
            <div class="nub-box">
                <span>粉丝<em>{{teamInfo.DirectlyCount}}</em></span>
                <span ng-if="teamInfo.DirectlyCount<=5">成长值<em>{{teamInfo.DirectlyCount}}/5</em></span>
                <span ng-if="teamInfo.DirectlyCount<=10&&teamInfo.DirectlyCount>5">成长值<em>{{teamInfo.DirectlyCount}}/10</em></span>
                <span ng-if="teamInfo.DirectlyCount<=100&&teamInfo.DirectlyCount>10">成长值<em>{{teamInfo.DirectlyCount}}/100</em></span>
                <span ng-if="teamInfo.DirectlyCount<=1000&&teamInfo.DirectlyCount>100">成长值<em>{{teamInfo.DirectlyCount}}/1000</em></span>
            </div>
            <div class="msg-box" ng-if="teamInfo.DirectlyCount<=5">
                您还差{{5-teamInfo.DirectlyCount}}位就可以升级成超级会员
            </div>
            <div class="msg-box" ng-if="teamInfo.DirectlyCount<=10&&teamInfo.DirectlyCount>5">
                您还差{{10-teamInfo.DirectlyCount}}位就可以升级成合伙人
            </div>
            <div class="msg-box" ng-if="teamInfo.DirectlyCount>10">
                您已是合伙人，请继续努力
            </div>
        </div>
        <div class="monery-box">
            余额<em>￥ {{remainAmout| number:2}}</em>
            <p ui-sref="withdraw" class="txt_1">点击查看历史提现记录 ></p>
            <span class="btn" ng-click="withdraw()">立即提现</span>
        </div>
    </div>
    <div class="session_2">
        <div class="centent-box clearfix">
            <div class="item-box">
                <span><em>￥</em>{{userInfo.OrderProfit| number:2}}</span>
                <p>订单收益</p>
            </div>
            <div class="item-box">
                <span><em>￥</em>{{userInfo.TeamProfit| number:2}}</span>
                <p>粉丝收益</p>
            </div>
        </div>
    </div>
    <div class="session_3">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-click="ToCategory(4092,'有好货')">
                    <div class="img-box">
                        <a href="">
                            <img src="images/icon_36.png">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide" ng-click="ToCategory(4092,'有好货')">
                    <div class="img-box">
                        <a href="">
                            <img src="images/icon_18.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="session_4">
        <div class="centent-box">
            <div class="list-box clearfix">
                <div class="item-box">
                    <a ng-click="toProfitPage()">
                        <img src="images/icon_38.png">
                        <p>收益</p>
                    </a>
                </div>
                <div class="item-box">
                    <a ng-click="toOrderPage()">
                        <img src="images/icon_39.png">
                        <p>订单</p>
                    </a>
                </div>
                <div class="item-box">
                    <a ng-click="toTeamPage()">
                        <img src="images/icon_40.png">
                        <p>粉丝</p>
                    </a>
                </div>
                <div class="item-box">
                    <a ng-click="toQrCodePage()">
                        <img src="images/icon_41.png">
                        <p>邀请</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="session_5">
        <div class="centent-box">
            <div class="title">我的工具</div>
            <div class="list-box clearfix">
                <div class="item-box">
                    <a ui-sref="rule">
                        <div class="icon-box">
                            <img src="images/icon_42.jpg">
                        </div>
                        <p>新手指引</p>
                    </a>
                </div>
                <div class="item-box">
                    <a href="">
                        <div class="icon-box">
                            <img src="images/icon_43.jpg">
                        </div>
                        <p>最新收藏</p>
                    </a>
                </div>
                <div class="item-box">
                    <a ui-sref="rule">
                        <div class="icon-box">
                            <img src="images/icon_44.jpg">
                        </div>
                        <p>常见问题</p>
                    </a>
                </div>
                <div class="item-box">
                    <a ng-click="showContacts()">
                        <div class="icon-box">
                            <img src="images/icon_45.jpg">
                        </div>
                        <p>专属客服</p>
                    </a>
                </div>
                <div class="item-box">
                    <a href="">
                        <div class="icon-box">
                            <img src="images/icon_46.jpg">
                        </div>
                        <p>官方公告</p>
                    </a>
                </div>
                <div class="item-box">
                    <a href="">
                        <div class="icon-box">
                            <img src="images/icon_47.jpg">
                        </div>
                        <p>关于我们</p>
                    </a>
                </div>
                <div class="item-box">
                    <a ng-click="showContacts()">
                        <div class="icon-box">
                            <img src="images/icon_48.jpg">
                        </div>
                        <p>商务合作</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="session_6">
        <div class="centent-box">
            <div class="top-box">
                <span>我的成长值</span><em>{{teamInfo.DirectlyCount}}</em>
                <a ng-click="share()">分享APP，提升成长值 <img src="images/icon_49.jpg"></a>
            </div>
            <div class="img-box" ng-click="ToCategory(3786,'大品牌')">
                <img src="images/img_20.jpg">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var swiper = new Swiper('.session_3 .swiper-container', {
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        }
    });
</script>