<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="mingxi-wrap">
        <div class="public-header">
            <h3 class="title">
                订单
            </h3>
        </div>
        <div class="all-item">
            <div class="item-box clearfix" ng-repeat="order in userOrders">
                <div class="txt-box">
                    <p class="name">{{order.ItemName|limitTo:10}}</p>
                    <p class="name" ng-if="order.State==0">订单状态：已付款</p>
                    <p class="name" ng-if="order.State==1">订单状态：已收货</p>
                    <p class="name" ng-if="order.State==2">订单状态：已结算</p>
                    <p class="name" ng-if="order.State==3">订单状态：已失效</p>
                    <p class="time">{{order.Code}}</p>
                    <input ng-if="!order.isShared" type="button" ng-click="share(order.ItemName,'www/images/icon-76@2x.png',order.url,order.State,order.Id)" value="点击分享（分享可再得20%）" />
                    <input ng-if="order.isShared" type="button" value="您已经分享过该订单，试试其他订单" />
                </div>
            </div>
        </div>
    </div>
</div>
