
<style type="text/css">

    body {
        padding-bottom: 0;
    }
</style>
<div class="invite-wrap">
    <div ng-click="back()" class="top-header">邀请 <a><img src="images/icon_32.png"></a></div>
    <div class="session_1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="{{qrcodes[0]}}">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="{{qrcodes[1]}}">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="{{qrcodes[2]}}">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="session_2">
        <div class="sub-box">
            <span>复制注册口令</span>
            <span>分享专属海报</span>
        </div>
    </div>
</div>
<script type="text/javascript">var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1.5,
    spaceBetween: 0,
    centeredSlides: true,
    loop: true
});</script>