<div class="recommend-wrap">
    <div class="top-header">巨返利 <a href="">返利规则</a></div>
    <div class="session_1">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="">
                            <img src="images/img_6.jpg">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="">
                            <img src="images/img_6.jpg">
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <a href="">
                            <img src="images/img_6.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="session_2">
        <div class="top-title">为您优选</div>
        <div class="list-box">
            <div class="item-box">
                <div class="left-box">
                    <div class="img-box" style="background-image: url(images/img_11.jpg)"></div>
                    <div class="info-box">
                        <span>抢免单</span>1.33万观看
                    </div>
                </div>
                <div class="txt-box">
                    <a href="">
                        <h3>【特级】宁夏枸杞500g</h3>
                        <p class="txt_1">【满2件立减5元】 下单满2件立省5元！正宗宁夏枸杞 买枸杞认准杞利元...</p>
                        <div class="txt_2">
                            <span>￥33.9</span><em>￥98</em>
                        </div>
                        <div class="txt_3">
                            5433人已买
                        </div>
                        <div class="txt_4 clearfix">
                            <span>预估收益￥5.79</span>
                            <em>100元劵</em>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-box">
                <div class="left-box">
                    <div class="img-box" style="background-image: url(images/img_12.jpg)"></div>
                    <div class="info-box">
                        <span>抢免单</span>1.33万观看
                    </div>
                </div>
                <div class="txt-box">
                    <a href="">
                        <h3>【居家鞋】舒适保暖</h3>
                        <p class="txt_1">【网络红款】 早买早实惠 厚底防滑保买早实惠 厚底防滑保暖暖大厂家特别直销专供，品质值得信赖！</p>
                        <div class="txt_2">
                            <span>￥33.9</span><em>￥98</em>
                        </div>
                        <div class="txt_3">
                            5433人已买
                        </div>
                        <div class="txt_4 clearfix">
                            <span>预估收益￥5.79</span>
                            <em>100元劵</em>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-box">
                <div class="left-box">
                    <div class="img-box" style="background-image: url(images/img_11.jpg)"></div>
                    <div class="info-box">
                        <span>抢免单</span>1.33万观看
                    </div>
                </div>
                <div class="txt-box">
                    <a href="">
                        <h3>【特级】宁夏枸杞500g</h3>
                        <p class="txt_1">【满2件立减5元】 下单满2件立省5元！正宗宁夏枸杞 买枸杞认准杞利元...</p>
                        <div class="txt_2">
                            <span>￥33.9</span><em>￥98</em>
                        </div>
                        <div class="txt_3">
                            5433人已买
                        </div>
                        <div class="txt_4 clearfix">
                            <span>预估收益￥5.79</span>
                            <em>100元劵</em>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-box">
                <div class="left-box">
                    <div class="img-box" style="background-image: url(images/img_11.jpg)"></div>
                    <div class="info-box">
                        <span>抢免单</span>1.33万观看
                    </div>
                </div>
                <div class="txt-box">
                    <a href="">
                        <h3>【特级】宁夏枸杞500g</h3>
                        <p class="txt_1">【满2件立减5元】 下单满2件立省5元！正宗宁夏枸杞 买枸杞认准杞利元...</p>
                        <div class="txt_2">
                            <span>￥33.9</span><em>￥98</em>
                        </div>
                        <div class="txt_3">
                            5433人已买
                        </div>
                        <div class="txt_4 clearfix">
                            <span>预估收益￥5.79</span>
                            <em>100元劵</em>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-box">
                <div class="left-box">
                    <div class="img-box" style="background-image: url(images/img_11.jpg)"></div>
                    <div class="info-box">
                        <span>抢免单</span>1.33万观看
                    </div>
                </div>
                <div class="txt-box">
                    <a href="">
                        <h3>【特级】宁夏枸杞500g</h3>
                        <p class="txt_1">【满2件立减5元】 下单满2件立省5元！正宗宁夏枸杞 买枸杞认准杞利元...</p>
                        <div class="txt_2">
                            <span>￥33.9</span><em>￥98</em>
                        </div>
                        <div class="txt_3">
                            5433人已买
                        </div>
                        <div class="txt_4 clearfix">
                            <span>预估收益￥5.79</span>
                            <em>100元劵</em>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="more-info">
            <img src="images/img_22.gif">正在加载....
        </div>
    </div>
</div>

<script type="text/javascript">
    var swiper = new Swiper('.session_1 .swiper-container', {
        pagination: {
            el: '.swiper-pagination'
        },
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        }
    });

    /*底部加载*/
    list_loading = false;
    $(document).on('scroll', function () {
        if (!list_loading) {
            if ($(document).scrollTop() >= $(document).height() - $(window).height() - 100) {
                load_more_msg();
            }

        }
    })

    function load_more_msg() {
        list_loading = true;
        /*测试*/
        setTimeout(function () {
            test();
        }, 1000)
    }
    var item_html = `
            <div class="item-box">
                <div class="left-box">
                    <div class="img-box" style="background-image: url(images/img_11.jpg)"></div>
                    <div class="info-box">
                        <span>抢免单</span>1.33万观看
                    </div>
                </div>
                <div class="txt-box">
                    <a href="">
                        <h3>【特级】宁夏枸杞500g</h3>
                        <p class="txt_1">【满2件立减5元】 下单满2件立省5元！正宗宁夏枸杞 买枸杞认准杞利元...</p>
                        <div class="txt_2">
                            <span>￥33.9</span><em>￥98</em>
                        </div>
                        <div class="txt_3">
                            5433人已买
                        </div>
                        <div class="txt_4 clearfix">
                            <span>预估收益￥5.79</span>
                            <em>100元劵</em>
                        </div>
                    </a>
                </div>
            </div>
`

    function test() {
        for (var i = 8 - 1; i >= 0; i--) {
            $('.session_2 .list-box').append(item_html);
        }
        list_loading = false;
    }
</script>