
<style type="text/css">

    body,
    html {
        background: #fff !important;
    }
</style>
<div class="rule-wrap">
    <div ng-click="back()" class="top-header">返利规则 <a><img src="images/icon_32.png"></a></div>
    <div class="session_1">
        <div class="tab-box">
            <span class="active">返利教程</span>
            <span>新手必看</span>
        </div>
        <div class="list-tab">
            <div class="tab-item active">
                <div class="item-box">
                    <div class="txt-box">
                        <h3>1.复制商品标题</h3>
                        <p>打开淘宝/天猫，进入详情页，</p>
                        <p>长按标题1—2秒点击<span>“拷贝”</span>或者<span>“复制”</span>。</p>
                    </div>
                    <div class="img-box">
                        <img src="images/icon_43.png">
                    </div>
                </div>
                <div class="item-box">
                    <div class="txt-box">
                        <h3>2.粘贴标题</h3>
                        <p>
                            打开（惠及万家APP）点击搜索框，
                            <br>粘贴标题搜索商品。
                        </p>
                    </div>
                    <div class="img-box">
                        <img src="images/icon_44.png">
                    </div>
                </div>
                <div class="item-box">
                    <div class="txt-box">
                        <h3>3.选择宝贝进入购买</h3>
                        <p>在搜索结果中，选择要购买宝贝。</p>
                    </div>
                    <div class="img-box">
                        <img src="images/icon_45.png">
                    </div>
                </div>
                <div class="item-box">
                    <div class="txt-box">
                        <h3>4.下单之后，确认收货之后，返利到账</h3>
                        <p>申请提现之后，1-2个工作日内到账您的支付宝</p>
                    </div>
                    <div class="img-box">
                        <img src="images/icon_46.png">
                    </div>
                </div>
            </div>
            <div class="tab-item tab-item_2">
                <div class="all-box">
                    <dl>
                        <dt><i><img src="images/icon_47.png"></i>返利多久到账？</dt>
                        <dd>
                            确认收货后半天至一天
                            <br>返利到惠及万家APP，可提现到支付宝。
                        </dd>
                    </dl>
                    <dl>
                        <dt><i><img src="images/icon_48.png"></i>多少金额可以提现</dt>
                        <dd>余额<br>满1元即可提现，24小时到账</dd>
                    </dl>
                    <dl>
                        <dt><i><img src="images/icon_47.png"></i>不返利的情况：</dt>
                        <dd>
                            淘宝红包抵扣订单不返利结算
                            <br>（比如双11、双12、年货抢的红包）
                        </dd>
                    </dl>
                    <dl>
                        <dt><i><img src="images/icon_48.png"></i>付款后多久显示订单？</dt>
                        <dd>付款以后延迟半天至一天在订单管理查看。</dd>
                    </dl>
                    <dl>
                        <dt><i><img src="images/icon_47.png"></i>丢单了？如何找回订单？</dt>
                        <dd>点击订单管理上方的找回订单，然后下拉列表刷新才会显示订单。</dd>
                    </dl>
                    <dl>
                        <dt><i><img src="images/icon_48.png"></i>如何修改支付宝账户、手机号码？</dt>
                        <dd>我的界面右上角设置点击进去修改。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">$('.session_1 .tab-box span').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
        $('.session_1 .list-tab .tab-item').eq($(this).index()).addClass('active').siblings().removeClass('active');
    });</script>