<div class="set-wrap">
    <div class="top-header">设置 <a ng-click="back()"><img src="images/icon_32.png"></a></div>
    <div class="session_1">
        <div class="img-box" style="background-image: url('images/icon_50.png')"></div>
        <p>点击修改图像</p>
    </div>
    <div class="session_2">
        <div class="input-box">
            <label>昵称</label>
            <a ng-click="updateName()">
                <span>修改 <i><img src="images/icon_51.png"></i></span>
            </a>
        </div>
        <div class="input-box mb20">
            <label>我的标签</label>
            <a href="">
                <span>未设置 <i><img src="images/icon_51.png"></i></span>
            </a>
        </div>
        <div class="input-box">
            <label>注册时间</label>
            <span>2019-09-10</span>
        </div>
        <div class="input-box mb20">
            <label>账户安全</label>
            <a href="pay.html">
                <span>手机号、支付宝 <i><img src="images/icon_51.png"></i></span>
            </a>
        </div>
        <div class="input-box">
            <label>消息通知</label>
            <a href="">
                <span><i><img src="images/icon_51.png"></i></span>
            </a>
        </div>
        <div class="input-box quit-box">
            退出登陆
        </div>
    </div>
</div>