<!--<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="team-wrap">
        <div class="public-header">
            <h3 class="title">
                团队列表
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="pulic-search-box">
            <div class="input-box">
                <input type="text" ng-model="query" name="">
                <i><img src="images/search.png"></i>
            </div>
        </div>
        <div class="all-item">
            <div class="item-box">
                <p>推广数：{{teamInfo.DirectlyCount}}</p>
                <p>总人数：{{teamInfo.TotalCount}}</p>
            </div>
            <div class="item-box" ng-click="goUserpage(user.UserId)" ng-repeat="user in teamInfo.TeamMember| filter:query">
                <div class="img-box"><img src="{{user.AvatarUrl}}"></div>
                <p>{{user.Name}}</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
</div>-->


<style type="text/css">

    body {
        padding-bottom: 0;
    }
</style>
<div class="fans-wrap">
    <div class="top-header">
        <div class="header">
            花粉 <a href="" ng-click="back()"><img src="images/icon_32.png"></a>
        </div>
        <div class="session_1">
            <div class="tab-box">
                <span class="active">全部</span>
                <span>直邀</span>
                <span>推荐</span>
                <span>潜在</span>
            </div>
        </div>
    </div>
    <div class="session_2">
        <div class="list-tab">
            <div class="item-tab active">
                <div class="list-box">
                    <div class="item-box clearfix" ng-repeat="user in teamInfo.TeamMember">
                        <div class="img-box" style="background-image: url({{user.AvatarUrl}})">
                        </div>
                        <div class="txt-box">
                            <h3>{{user.Name}} <img src="images/icon_52.png"></h3>
                            <p><span>169*****99534</span><span>2019年09月10日</span></p>
                        </div>
                    </div>
                </div>
                <div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>
            </div>
            <div class="item-tab">
                <div class="list-box">
                </div>
                <div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>
            </div>
            <div class="item-tab">
                <div class="list-box">
                   
                </div>
                <div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>
            </div>
            <div class="item-tab">
                <div class="list-box">
                   
                </div>
                <div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*底部加载*/
    list_loading = false;
    var _index = 0;
    $('.tab-box span').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.session_2 .list-tab .item-tab').eq($(this).index()).addClass('active').siblings().removeClass('active');
        _index = $(this).index();
    });
    $(document).on('scroll', function () {
        //if (!list_loading) {
        //    if ($(document).scrollTop() >= $(document).height() - $(window).height() - 100) {
        //        if ($(document).height() - $(window).height() > 0) {
        //            $('.list-tab .item-tab').eq(_index).find('.more-box').show();
        //            load_more_msg();
        //        }
        //    }
        //}
    });

    function load_more_msg() {
        list_loading = true;
        /*测试*/
        setTimeout(function () {
            test();
        }, 1000)
    }
    var item_html = `
<div class="item-box clearfix">
                            <div class="img-box" style="background-image: url(images/icon_50.png)">
                            </div>
                            <div class="txt-box">
                                <h3>木有昵称 </h3>
                                <p><span>169*****99534</span><span>2019年09月10日</span></p>
                            </div>
                        </div>
`

    function test() {
        for (var i = 8 - 1; i >= 0; i--) {
            $('.item-tab.active .list-box').append(item_html);
        }
        list_loading = false;
    }
</script>