<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="mingxi-wrap">
        <div class="public-header">
            <h3 class="title">
                提现申请
            </h3>
        </div>
        <div class="all-item">
            <div class="item-box clearfix" ng-repeat="apply in withdrawApply">
                <div class="txt-box">
                    <p class="name" ng-if="apply.Status==0">状态：已处理</p>
                    <p class="name" ng-if="apply.Status==1">状态：未处理</p>
                    <p class="time">{{apply.ApplyTime}}</p>
                    <span class="monery">金额：+{{apply.Amount| number:2}} 元</span>
                </div>
            </div>
        </div>
    </div>
</div>
