.pdb {
  padding-bottom: 5.066667rem;
}
.guide-wrap .img-box {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.guide-wrap .enter-box {
  position: absolute;
  width: 5.333333rem;
  height: 2.666667rem;
  bottom: 0.666667rem;
  left: 50%;
  transform: translateX(-50%);
}
.guide-wrap .swiper-pagination-bullet {
  background: #fff;
  opacity: .8;
}
.guide-wrap .swiper-pagination-bullet-active {
  width: 0.666667rem;
  border-radius: 0.133333rem;
  opacity: 1;
}
.login-wrap .session_1 {
  position: relative;
  padding-top: 1.333333rem;
}
.login-wrap .session_1 .logo {
  text-align: center;
}
.login-wrap .session_1 .logo img {
  width: 9.84rem;
}
.login-wrap .session_1 .close-btn {
  position: absolute;
  top: 1.066667rem;
  right: 0.533333rem;
}
.login-wrap .session_1 .close-btn img {
  width: 0.533333rem;
}
.login-wrap .session_1 .txt-box {
  text-align: center;
  margin-top: 0.266667rem;
}
.login-wrap .session_1 .txt-box img {
  height: 1.333333rem;
}
.login-wrap .session_2 {
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  box-sizing: border-box;
  margin-top: 0.4rem;
}
.login-wrap .session_2 .login-btn {
  display: block;
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  background: #fa635c;
  color: #fff;
  font-size: 0.453333rem;
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: 0px 0.08rem 0.08rem rgba(250, 99, 92, 0.5);
}
.login-wrap .session_2 .login-btn img {
  height: 0.6rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}
.recommend-wrap .mui-scroll {
  padding-top: 1.066667rem;
  padding-bottom: 1.6rem;
}
.recommend-wrap .top-header {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  font-size: 16px;
  color: #333;
  z-index: 999;
}
.recommend-wrap .top-header a {
  position: absolute;
  right: 0.266667rem;
  font-size: 12px;
}
.recommend-wrap .session_1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  box-sizing: border-box;
}
.recommend-wrap .session_1 img {
  width: 100%;
  border-radius: 0.106667rem;
}
.recommend-wrap .session_1 .swiper-pagination {
  bottom: 0.133333rem!important;
  margin-bottom: 0;
}
.recommend-wrap .session_1 .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.recommend-wrap .session_1 .swiper-pagination-bullet-active {
  background: #f42f19;
}
.recommend-wrap .session_2 {
  background: #fff;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.recommend-wrap .session_2 .top-title {
  height: 0.933333rem;
  line-height: 0.933333rem;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.recommend-wrap .session_2 .item-box {
  padding-top: 0.266667rem;
  padding-bottom: 0.4rem;
  border-top: 1px solid #f3f6f8;
}
.recommend-wrap .session_2 .item-box .left-box {
  float: left;
  position: relative;
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 0.4rem;
}
.recommend-wrap .session_2 .item-box .left-box .img-box {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
}
.recommend-wrap .session_2 .item-box .left-box .info-box {
  position: absolute;
  left: 0.266667rem;
  right: 0.266667rem;
  bottom: 0.373333rem;
  line-height: 1;
  padding-top: 0.133333rem;
  padding-bottom: 0.133333rem;
  font-size: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding-left: 1.333333rem;
  border-radius: 0.106667rem;
  overflow: hidden;
  white-space: nowrap;
}
.recommend-wrap .session_2 .item-box .left-box .info-box span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.133333rem;
  padding-bottom: 0.133333rem;
  background: #ef3d3d;
  width: 1.266667rem;
  text-align: center;
}
.recommend-wrap .session_2 .item-box .left-box .info-box span:before {
  position: absolute;
  content: '';
  width: 0.053333rem;
  height: 0.053333rem;
  background: #fff;
  top: 50%;
  margin-top: -0.026667rem;
  left: 0.066667rem;
  border-radius: 100%;
}
.recommend-wrap .session_2 .item-box .txt-box h3 {
  font-size: 15px;
  color: #333333;
  font-weight: 400;
  line-height: 1.6;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_1 {
  font-size: 12px;
  color: #585858;
  line-height: 1.4;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_2 {
  line-height: 1.6;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_2 span {
  display: inline-block;
  font-size: 14px;
  color: #ef3d3d;
  margin-right: 0.133333rem;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_2 em {
  font-size: 13px;
  font-style: normal;
  color: #929291;
  text-decoration: line-through;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_3 {
  font-size: 13px;
  color: #929291;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_4 {
  margin-top: 0.133333rem;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_4 span {
  float: right;
  font-size: 12px;
  background: #ffeaea;
  line-height: 1;
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
  color: #ef3d3d;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  border-radius: 0.053333rem;
}
.recommend-wrap .session_2 .item-box .txt-box .txt_4 em {
  font-style: normal;
  line-height: 1;
  display: inline-block;
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
  background: #ef3d3d;
  color: #fff;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 12px;
}
.indent-wrap .top-header {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #333;
  z-index: 999;
}
.indent-wrap .top-header a {
  position: absolute;
  left: 0.666667rem;
}
.indent-wrap .top-header a img {
  height: 0.36rem;
}
.indent-wrap .mui-slider-indicator.mui-segmented-control {
  top: 40px;
  background: #fff;
}
.indent-wrap #sliderSegmentedControl {
  font-size: 0;
}
.indent-wrap .mui-scroll {
  position: relative;
  width: 100%;
  white-space: normal;
}
.indent-wrap .mui-segmented-control .mui-control-item {
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 25%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
.indent-wrap .mui-table-view {
  background: transparent;
}
.indent-wrap .mui-fullscreen .mui-segmented-control ~ .mui-slider-group {
  top: 80px;
}
.indent-wrap .mui-slider .mui-slider-group .mui-slider-item .info-box {
  font-size: 12px;
  color: #f66555;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.133333rem;
}
.indent-wrap .mui-slider .mui-slider-group .mui-slider-item .info-box p {
  background: #fff;
  line-height: 1;
  padding-top: 0.333333rem;
  padding-bottom: 0.333333rem;
  padding-left: 0.466667rem;
  border-radius: 0.106667rem;
}
.indent-wrap .mui-slider .mui-slider-group .mui-slider-item .info-box p img {
  margin-right: 0.133333rem;
}
.indent-wrap .mui-slider .mui-slider-group .mui-slider-item .info-box i img {
  height: 0.426667rem;
  width: auto;
}
.indent-wrap .list-box {
  margin-top: 0.4rem;
}
.indent-wrap .list-box .item-box {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background: #fff;
  padding-right: 0.266667rem;
  margin-bottom: 0.333333rem;
}
.indent-wrap .list-box .img-box {
  float: left;
  background: #fff;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.106667rem;
  background-size: cover;
  background-position: 50%;
  margin-right: 0.2rem;
}
.indent-wrap .list-box .txt-box {
  padding-top: 0.133333rem;
}
.indent-wrap .list-box .txt-box h3 {
  font-size: 14px;
  font-weight: 400;
  color: #585858;
  line-height: 1.4;
}
.indent-wrap .list-box .txt-box p {
  font-size: 12px;
  color: #b3b3b3;
}
.indent-wrap .list-box .txt-box p i,
.indent-wrap .list-box .txt-box p em {
  font-style: normal;
}
.indent-wrap .list-box .txt-box p i {
  display: inline-block;
  border: 1px solid #b3b3b3;
  padding-left: 0.333333rem;
  padding-right: 0.333333rem;
  line-height: 1.5;
  border-radius: 0.333333rem;
}
.indent-wrap .list-box .txt-box .txt_1 {
  margin-top: 0.133333rem;
  font-size: 12px;
  color: #b3b3b3;
}
.indent-wrap .list-box .txt-box .txt_1 span {
  float: right;
  color: #f66555;
}
.indent-wrap .mui-pull-bottom-tips {
  text-align: center;
  padding-bottom: 0.2rem;
}
.indent-wrap .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
  position: relative;
  color: #000;
}
.indent-wrap .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active:before {
  width: 0.666667rem;
  height: 0.053333rem;
  left: 50%;
  margin-left: -0.333333rem;
  background: red;
  position: absolute;
  content: '';
  bottom: 0.133333rem;
}
.my-wrap .session_1 {
  position: relative;
  height: 5.066667rem;
  background: url(../images/img_18.png) center center no-repeat;
  background-size: cover;
  padding-top: 0.666667rem;
  padding-left: 0.506667rem;
  padding-right: 0.506667rem;
  box-sizing: border-box;
}
.my-wrap .session_1 .set {
  position: absolute;
  right: 0.466667rem;
  top: 0.266667rem;
}
.my-wrap .session_1 .set img {
  width: 0.6rem;
}
.my-wrap .session_1 .user-box .user-img {
  display: inline-block;
  width: 1.733333rem;
  height: 1.733333rem;
  background: #fff;
  border-radius: 100%;
  margin-right: 0.266667rem;
  background-size: cover;
  background-position: 50%;
  vertical-align: middle;
}
.my-wrap .session_1 .user-box .info-box {
  vertical-align: middle;
  display: inline-block;
}
.my-wrap .session_1 .user-box .txt_1 span {
  color: #fff;
  font-size: 15px;
}
.my-wrap .session_1 .user-box .txt_1 img {
  height: 0.426667rem;
  margin-left: 0.16rem;
}
.my-wrap .session_1 .user-box .txt_2 {
  color: #f7cbcc;
  font-size: 13px;
  margin-top: 0.133333rem;
}
.my-wrap .session_1 .user-box .txt_2 em {
  font-style: normal;
  color: #f7cbcc;
  background: #ef7374;
  padding-left: 0.133333rem;
  padding-right: 0.133333rem;
  border-radius: 0.266667rem;
  margin-left: 0.453333rem;
}
.my-wrap .session_1 .txt_3 {
  margin-top: 0.4rem;
  color: #f7cbcc;
  font-size: 13px;
  position: relative;
  line-height: 1;
}
.my-wrap .session_1 .txt_3 .nub-box {
  display: inline-block;
}
.my-wrap .session_1 .txt_3 .nub-box em {
  font-style: normal;
  margin-left: 0.2rem;
}
.my-wrap .session_1 .txt_3 .msg-box {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffe5b2;
}
.my-wrap .session_1 .monery-box {
  position: absolute;
  left: 0.266667rem;
  right: 0.266667rem;
  height: 1.386667rem;
  background: url(../images/icon_37.png);
  background-size: cover;
  background-position: 50%;
  line-height: 1.386667rem;
  bottom: 0;
  padding-left: 0.8rem;
  color: #ffe5b2;
  font-size: 15px;
}
.my-wrap .session_1 .monery-box img {
  width: 100%;
}
.my-wrap .session_1 .monery-box em {
  font-style: normal;
  margin-left: 0.4rem;
}
.my-wrap .session_1 .monery-box .btn {
  position: absolute;
  right: 0.333333rem;
  background: #ffe5b2;
  color: #585858;
  height: 0.666667rem;
  line-height: 0.666667rem;
  font-size: 13px;
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
  border-radius: 0.133333rem;
  top: 0.346667rem;
}
.my-wrap .session_2 {
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
}
.my-wrap .session_2 .centent-box {
  background: #fff;
  height: 1.933333rem;
  padding-top: 0.266667rem;
  box-sizing: border-box;
  border-bottom-left-radius: 0.106667rem;
  border-bottom-right-radius: 0.106667rem;
}
.my-wrap .session_2 .centent-box .item-box {
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
}
.my-wrap .session_2 .centent-box .item-box:before {
  position: absolute;
  content: '';
  width: 0.053333rem;
  height: 0.666667rem;
  left: 0;
  top: 0.266667rem;
  background: #f4f4f4;
}
.my-wrap .session_2 .centent-box .item-box span {
  font-size: 0.533333rem;
  color: #5c5c5c;
}
.my-wrap .session_2 .centent-box .item-box span em {
  font-size: 12px;
  font-style: normal;
}
.my-wrap .session_2 .centent-box .item-box p {
  margin-top: 0.133333rem;
  font-size: 13px;
  color: #585858;
}
.my-wrap .session_2 .centent-box .item-box:first-child:before {
  display: none;
}
.my-wrap .session_3 {
  padding-left: 0.533333rem;
  padding-right: 0.533333rem;
  padding-top: 0.213333rem;
  padding-bottom: 0.213333rem;
}
.my-wrap .session_3 img {
  width: 100%;
}
.my-wrap .session_4 {
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
  box-sizing: border-box;
}
.my-wrap .session_4 .centent-box {
  background: #fff;
  padding-top: 0.333333rem;
  padding-bottom: 0.333333rem;
  border-radius: 0.106667rem;
}
.my-wrap .session_4 .centent-box .list-box .item-box {
  float: left;
  width: 25%;
  text-align: center;
}
.my-wrap .session_4 .centent-box .list-box .item-box img {
  height: 0.826667rem;
}
.my-wrap .session_4 .centent-box .list-box .item-box p {
  margin-top: 0.266667rem;
  font-size: 13px;
  color: #585858;
}
.my-wrap .session_5 {
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
  margin-top: 0.266667rem;
}
.my-wrap .session_5 .centent-box {
  background: #fff;
  border-radius: 0.106667rem;
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
}
.my-wrap .session_5 .centent-box .title {
  height: 1.0rem;
  line-height: 1.0rem;
  margin-bottom: 0.533333rem;
}
.my-wrap .session_5 .centent-box .item-box {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 0.533333rem;
}
.my-wrap .session_5 .centent-box .item-box .icon-box {
  height: 0.933333rem;
  line-height: 0.933333rem;
}
.my-wrap .session_5 .centent-box .item-box .icon-box img {
  height: 0.72rem;
  vertical-align: top;
}
.my-wrap .session_5 .centent-box .item-box p {
  font-size: 13px;
  color: #585858;
}
.my-wrap .session_5 .centent-box .item-box:nth-child(4) .icon-box img {
  position: relative;
  top: -0.133333rem;
  height: 0.893333rem;
}
.my-wrap .session_6 {
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
  margin-top: 0.266667rem;
}
.my-wrap .session_6 .centent-box {
  background: #fff;
  border-radius: 0.106667rem;
}
.my-wrap .session_6 .centent-box .top-box {
  height: 1.0rem;
  line-height: 1.0rem;
  padding-left: 0.466667rem;
  padding-right: 0.466667rem;
  box-sizing: border-box;
  font-size: 15px;
  color: #585858;
}
.my-wrap .session_6 .centent-box .top-box em {
  color: red;
  font-style: normal;
  margin-left: 0.133333rem;
}
.my-wrap .session_6 .centent-box .top-box a {
  float: right;
  font-size: 13px;
  color: #b6b6b6;
}
.my-wrap .session_6 .centent-box .top-box a img {
  height: 0.4rem;
}
.my-wrap .session_6 .centent-box .img-box img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */