.pass-top-bar dl, .pass-top-bar dt, .pass-top-bar dd, .pass-top-bar ul, .pass-top-bar ol, .pass-top-bar li, .pass-top-bar input {
    margin: 0;
    padding: 0;
}

.pass-top-bar .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.pass-top-bar .clearfix {
    zoom: 1;
}

.pass-top-bar a {
    text-decoration: none;
}

.pass-top-bar .pass-center {
    text-align: center;
}

.pass-top-bar img {
    border: 0;
}

.pass-top-bar table {
    border-collapse: collapse;
    border-spacing: 0;
}

.pass-top-bar li {
    list-style: none;
}

.pass-top-bar {
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,\5b8b\4f53;
    position: relative;
    float: right;
}

    .pass-top-bar .pass-topBar-list {
        float: left;
    }

    .pass-top-bar .pass-topBar-item {
        float: left;
        position: relative;
        padding: 4px 0;
        background-image: url('../Images/topBar_e433ff10.png');
        background-repeat: no-repeat;
        background-position: -24px 11px;
        margin-left: -1px;
    }

    .pass-top-bar .pass-topBar-level1 {
        float: left;
        padding: 0 10px;
        line-height: 24px;
        height: 24px;
        color: #000;
        cursor: pointer;
    }

    .pass-top-bar .pass-topBar-item-first {
        background-image: none;
    }

    .pass-top-bar .pass-topBar-level1 img, .pass-top-bar .pass-topBar-level2 img {
        height: 18px;
        padding: 0 2px;
        margin-bottom: -3px;
    }

    .pass-top-bar .pass-topBar-iconWrappaer {
        *margin-top: -3px;
        _margin-top: 2px;
    }

    .pass-top-bar .pass-topBar-arr {
        padding-right: 14px;
        background-repeat: no-repeat;
        background-position: 3px 5px;
        *display: inline-block;
        background-image: url('../Images/topBar_e433ff10.png');
    }

    .pass-top-bar .pass-topBar-custom {
        width: 100%;
    }

    .pass-top-bar .pass-topBar-select, .pass-top-bar .pass-topBar-msgSelect {
        position: absolute;
        top: 32px;
        *top: 29px;
        _top: 32px;
        left: 0;
        padding-top: 0;
        border: 1px solid #d9d9d9;
        background: #fff;
        float: left;
        display: none;
    }

    .pass-top-bar .pass-user {
        width: 200px;
        height: 60px;
        padding: 20px;
    }

    .pass-top-bar .pass-user-avatar {
        float: left;
    }

    .pass-top-bar .pass-user-info {
        float: right;
        width: 130px;
    }

    .pass-top-bar .upass-user-username {
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
    }

    .pass-top-bar .pass-user-links {
        padding: 2px 5px;
        background: #ebebeb;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        float: left;
        margin-top: 12px;
    }

    .pass-top-bar .pass-user-links-first {
        padding-right: 5px;
        margin-right: 5px;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    .pass-top-bar .pass-user-links a {
        color: #000;
    }

    .pass-top-bar .pass-topBar-level2 {
        display: block;
        padding: 0 10px;
        height: 28px;
        margin-top: 0;
        line-height: 28px;
        color: #000;
        cursor: pointer;
    }

        .pass-top-bar .pass-topBar-level2:hover {
            background: #ebebeb;
        }

.pass-topBar-item-hover {
    background-color: #ebebeb;
}

    .pass-topBar-item-hover .pass-topBar-select, .pass-topBar-item-hover .pass-topBar-msgSelect {
        display: block;
    }

    .pass-topBar-item-hover .pass-topBar-arr {
        background-position: -9px 5px;
    }

.pass-top-bar .pass-topBar-item-msg .pass-topBar-level1 {
    width: 24px;
    background: url('../Images/topBar_e433ff10.png') no-repeat 10px -12px;
}

.pass-top-bar .pass-topBar-item-msg a.pass-topBar-newMsg {
    background-position: 10px -40px;
}

.pass-top-bar .pass-topBar-msgWrapper {
    width: 300px;
    height: 350px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.pass-top-bar .pass-msg-title {
    background: #f7f7f7;
    height: 30px;
    padding-left: 40px;
    border-bottom: 1px solid #ccc;
}

    .pass-top-bar .pass-msg-title li {
        float: left;
        margin-right: 20px;
        cursor: pointer;
        line-height: 28px;
        height: 28px;
        text-align: center;
        padding: 0 20px;
        border-bottom: 2px solid #f7f7f7;
        position: relative;
    }

        .pass-top-bar .pass-msg-title li.pass-msgType-current {
            border-bottom: 2px solid #1b66c7;
        }

.pass-top-bar .pass-msgType-notice {
    display: none;
}

    .pass-top-bar .pass-msgType-notice .pass-msgList-item {
        padding-top: 6px;
        padding-bottom: 8px;
    }

.pass-top-bar .pass-msg-num {
    position: absolute;
    right: 0;
    top: 0;
    background: url('../Images/topBar_e433ff10.png') no-repeat -19px -123px;
    padding-left: 5px;
    display: none;
    text-align: center;
    color: #fff;
    line-height: 16px;
}

    .pass-top-bar .pass-msg-num em {
        display: inline-block;
        height: 16px;
        padding-right: 5px;
        font-style: normal;
        background: url('../Images/topBar_e433ff10.png') no-repeat right -103px;
    }

.pass-top-bar .pass-msg-doubleNum {
    display: block;
    width: 22px;
    height: 16px;
    background-position: 0 -103px;
}

.pass-top-bar .pass-msg-singleNum {
    display: block;
    width: 15px;
    height: 16px;
    background-position: 0 -121px;
}

.pass-top-bar .pass-msgList-wrapper {
    height: 290px;
    overflow: auto;
    position: relative;
}

.pass-top-bar .pass-msg-content a {
    color: #1b66c7;
    text-decoration: none;
}

.pass-top-bar .pass-msgList-item {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #d9d9d9;
    line-height: 16px;
    width: 100%;
}

.pass-msgList-p15 {
    padding: 0 10px 0 15px;
    position: relative;
}

.pass-top-bar .pass-msgList-item-first {
    border-top-width: 0;
}

.pass-top-bar .pass-msgList-product {
    font-weight: bold;
    margin-bottom: 5px;
}

.pass-top-bar .pass-msgList-contentItem {
    padding: 2px 10px 2px 0;
    line-height: 18px;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
}

.pass-top-bar .pass-productMsg-more {
    margin-top: 5px;
    text-align: right;
}

.pass-top-bar .pass-msgList-moreWrapper {
    text-align: center;
    line-height: 30px;
    height: 30px;
}

.pass-top-bar .pass-msgList-moreLink {
    cursor: pointer;
    padding-right: 12px;
    background: url('../Images/topBar_e433ff10.png') no-repeat 51px -60px;
}

.pass-top-bar .pass-msgList-remove, .pass-top-bar .pass-msg-close {
    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url('../Images/topBar_e433ff10.png') no-repeat -15px -80px;
}

.pass-top-bar .pass-msg-close {
    right: 10px;
    top: 12px;
}

.pass-top-bar .pass-msgList-remove {
    top: 6px;
    right: 0;
    display: none;
}

.pass-top-bar .pass-msgList-opt {
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #ebebeb;
    position: relative;
}

.pass-msg-read {
    float: left;
    margin-left: 10px;
    cursor: pointer;
    color: #1b66c7;
}

.pass-msg-all {
    float: right;
    margin-right: 30px;
    color: #1b66c7;
}

.pass-top-bar .pass-msg-setting {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    right: 10px;
    background: url('../Images/topBar_e433ff10.png') no-repeat 0 -87px;
}

.pass-top-bar .pass-msg-new {
    background: url('../Images/topBar_e433ff10.png') no-repeat 0 -122px;
    width: 14px;
    height: 14px;
    position: relative;
    left: 2px;
    top: -5px;
    display: inline-block;
}

.pass-top-bar .pass-msg-tip {
    margin-top: 130px;
    text-align: center;
}

.pass-top-bar .pass-msgList-from {
    text-align: right;
    color: #ccc;
    margin-bottom: 3px;
}

.pass-top-bar .pass-user-links {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
