<style type="text/css">

    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        html:before {
            background: #f54b4c;
        }
    }

    @media only screen and (device-width: 414px) and (device-height:896px) and (-webkit-device-pixel-ratio:3) {
        html:before {
            background: #f54b4c;
        }
    }

    @media only screen and (device-width: 414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2) {
        html:before {
            background: #f54b4c;
        }
    }
</style>
<div class="join-wrap">
    <div class="session_1">
        <img src="images/img_23.jpg" class="bg">
        <a ng-click="share()" class="apply"><img src="images/icon_42.png"></a>
    </div>
</div>