<style>
    .ng-scope {
        background: #efeff4;
    }
</style>
<div class="bgefeff4">
    <div class="personal-wrap">
        <div class="public-header">
            <h3 class="title">
                个人中心
            </h3>
            <div class="black-btn" ng-click="back()"></div>
        </div>
        <div class="user-box">
            <div class="img-box">
                <img src="{{userInfo.AvatarUrl}}">
            </div>
            <p class="name">{{userInfo.Name}}</p>
            <span class="type" ng-show="userInfo.Type == 1" ng-hide="userInfo.Type != 1">合伙人</span>
            <span class="type" ng-show="userInfo.Type == 2" ng-hide="userInfo.Type != 2">普通用户</span>
            <span class="type" ng-show="userInfo.Type == 0" ng-hide="userInfo.Type != 0">特殊用户</span>
        </div>
        <div class="income-box">
            <p class="title"><span>收入概况</span></p>
            <div class="all-item clearfix">
                <div class="item-box">
                    <p>{{userInfo.TotalProfit}}</p>
                    <span>总收益</span>
                </div>
                <div class="item-box">
                    <p>{{userInfo.TeamProfit}}</p>
                    <span class="bgf5b63d">团队总收益</span>
                </div>
                <div class="item-box">
                    <p>{{userInfo.OrderProfit}}</p>
                    <span class="bga8d08e">订单总收益</span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
</div>
