<style type="text/css">

    body {
        padding-bottom: 0;
    }
</style>
<div class="indent-wrap">
    <div class="top-header">
        <div ng-click="back()" class="header">
            提现记录 <a><img src="images/icon_32.png"></a>
        </div>
        <div class="session_1">
            <div class="tab-box">
                <span class="active">全部</span>
                <span>已处理提现</span>
                 <span>待处理提现</span>
            </div>
        </div>
    </div>
    <div class="session_2">
        <div class="list-tab">
            <div class="item-tab active">
                <div class="info-box">
                    <p><i><img src="images/icon_33.png"></i>亲，提现申请处理时间为1-2天</p>
                </div>
                <div class="list-box">
                    <div class="item-box clearfix" ng-repeat="apply in withdrawApply">
                        <div class="txt-box">
                            <p>
                                时间 <em>{{apply.ApplyTime|date:'yyyy-MM-dd'}}</em>
                            </p>
                            <div class="txt_1">
                                <span>提现金额：￥{{apply.Amount| number:2}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>-->
            </div>
            <div class="item-tab">
                <div class="info-box">
                    <p><i><img src="images/icon_33.png"></i>亲，提现申请处理时间为1-2天</p>
                </div>
                <div class="list-box">
                    <div class="item-box clearfix" ng-if="apply.Status==0" ng-repeat="apply in withdrawApply">
                        <div class="txt-box">
                            <p>
                                时间 <em>{{apply.ApplyTime|date:'yyyy-MM-dd'}}</em>
                            </p>
                            <div class="txt_1">
                                <span>提现金额：￥{{apply.Amount| number:2}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>-->
            </div>
            <div class="item-tab">
                <div class="info-box">
                    <p><i><img src="images/icon_33.png"></i>亲，提现申请处理时间为1-2天</p>
                </div>
                <div class="list-box">
                    <div class="item-box clearfix" ng-if="apply.Status==1" ng-repeat="apply in withdrawApply">
                        <div class="txt-box">
                            <p>
                                时间 <em>{{apply.ApplyTime|date:'yyyy-MM-dd'}}</em>
                            </p>
                            <div class="txt_1">
                                <span>提现金额：￥{{apply.Amount| number:2}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="more-box">
                    <img src="images/img_22.gif">正在加载...
                </div>-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 点击点是第几个按钮 可以根据它的下标来指定
    var _index = 0;
    $('.tab-box span').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.session_2 .list-tab .item-tab').eq($(this).index()).addClass('active').siblings().removeClass('active');
        _index = $(this).index();
    });
</script>

