@{
    ViewBag.Title = "惠及万家";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>惠及万家，返利网，购物，惠及万家APP</title>
    <meta name="keywords" content="惠及万家，购物返，购物，惠及万家APP，返利网，某宝商品报销，商城">
    <meta name="description" content="惠及万家，购物返，购物，惠及万家APP，返利网，某宝商品报销，商城!重庆惠及万家（科技）有限公司">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link type="text/css" rel="stylesheet" href="http://47.92.157.61:8014/content/mobile/css/style.css" />
    <script type="text/javascript" src="http://47.92.157.61:8014/content/mobile/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://47.92.157.61:8014/content/mobile/js/a.js"></script>
    <script>
        //if(location.protocol=="http:")
        //   location.href="https://handsave.com";
        $(function () {
            //页面缩放
            (function ($) {
                var documentWidht = $(window).width();
                if (documentWidht != 375) {
                    var maximumScale = (documentWidht / 375).toFixed(5);
                    $('meta[name="viewport"]').attr('content', 'width=375,initial-scale=' + maximumScale + ',user-scalable=no');
                    maximumScale = null;
                }
                documentWidht = null;
            })(jQuery);
        });

    </script>
</head>

<body>

    <div class="logo">
        <img src="http://47.92.157.61:8014/content/mobile/images/logo.png" alt="惠及万家" />
    </div>

    <div id="search">
        <div class="search_1">淘</div>
        <div class="search_2">
            <div class="search_2_1 fixed">
                <input type="text" id="input1" placeholder="请输入您要购买的宝贝关键词">
                <button type="button" class="buttom1" id="searchBtn" value="" >开始淘</button>
            </div>
        </div>
    </div>
    <div class="top">
        <span><img src="http://47.92.157.61:8014/content/mobile/images/hot.png" /></span>
        <b>请下载APP客户端进行报销！</b>
        <a href="https://www.pgyer.com/hjwj" title="立即下载">立即下载</a>
    </div>
    <div class="main">
        <ul>
            <li>
                <a href="https://ai.m.taobao.com/search.html?catmap=50344007&q=流行男装&pid=mm_26940838_23770772_79264527">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_05.png" />
                    <p>男生专区</p>
                </a>
            </li>
            <li>
                <a href="https://ai.m.taobao.com/search.html?catmap=16&q=女装 女士精品&pid=mm_26940838_23770772_79264527">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_06.png" />
                    <p>女生专区</p>
                </a>
            </li>
            <li>
                <a href="https://ai.m.taobao.com/search.html?q=%E6%89%8B%E6%9C%BA%E6%95%B0%E7%A0%81&pid=mm_26940838_23770772_79264527">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_07.png" />
                    <p>手机数码</p>
                </a>
            </li>
            <li>
                <a href="https://ai.m.taobao.com/search.html?q=%E6%8A%A4%E7%90%86%E5%BD%A9%E5%A6%86&pid=mm_26940838_23770772_79264527">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_08.png" />
                    <p>护理彩妆</p>
                </a>
            </li>
            <li>
                <a href="tencent://message/?uin=153219174&site=在线咨询&menu=yes">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_01.png" />
                    <p>客服</p>
                </a>
            </li>
            <li>
                <a href="/home/login">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_02.png" />
                    <p>返利+报销</p>
                </a>
            </li>
            <li>
                <a href="https://uland.taobao.com/coupon/elist?st=58&pid=mm_26940838_23770772_79264527">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_03.png" />
                    <p>券+报销</p>
                </a>
            </li>
            <li>
                <a href="https://ai.m.taobao.com/search.html?catmap=50006004&q=宝宝用品&pid=mm_26940838_23770772_79264527">
                    <img src="http://47.92.157.61:8014/content/mobile/images/mian_04.png" />
                    <p>宝宝用品</p>
                </a>
            </li>
        </ul>
    </div>
    <footer>
        <ul>
            <li><a href="">QQ群交流</a></li>
            <li><a href="https://www.pgyer.com/hjwj">下载客户端</a></li>
            <li><a href="">我的后台</a></li>
        </ul>
        <div class="foot_logo">
            <p>惠及万家搜索购买淘宝商品最高报销80%费用</p>
            <p>©2016惠及万家科技（重庆）有限公司 渝ICP备19006507号</p>
        </div>
    </footer>
</body>
</html>

